<ion-view title="" id="page13"  hide-nav-bar="true">

    <ion-content padding="true" class=" bg1 manual-remove-top-padding has-header" scroll="true" hide-nav-bar="true">
        <div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
		
			<div class="something-semantic">
   <div class="something-else-semantic">
   <div class="something-else-semantic-box">
   <img src="img/checkbox.png" class="check_img">
       <h2>THANKYOU FOR CREATING ACCOUNT</h2>
<br/>	       
		   <button id="boatDetails-button10" class="button button-calm  button-block half-block">Go to Sign In</button>
   </div>
   </div>
</div>
       
    </ion-content>
</ion-view>