<ion-view title="" id="page5">
    <ion-content padding="true" class="has-header no_border">
        <div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
        <form id="formDetails-form25" class="list">
            <h2 id="formDetails-heading5" class="heading13">Form Details</h2>
            <img src="img/rang_point.png" class="range_point" />
        </form>
        <form id="formDetails-form14" class="list">
            <label class="item item-input item-stacked-label" id="formDetails-input9">
                <span class="input-label">Boar Number or Title :</span>
                <input type="number" placeholder="Placeholder">
            </label>
            <label class="item item-select" id="formDetails-select1">
                <span class="input-label">Select Activity</span>
                <select></select>
            </label>
        </form>
        <form id="formDetails-form16" class="list">
            <div class="item">
                <ul class="list checkbox_group">
                    <li class="item item-radiobox">Per person
                        <label class="radiobox">
                            <input type="radio" value="on">
                        </label>
                    </li>
                    <li class="item item-radiobox">Group
                        <label class="radiobox">
                            <input type="radio" value="on">
                        </label>
                    </li>
                </ul>
            </div>
			<div class="item">
			  <h3>Select Gender</h3>
                <ul class="list checkbox_group">
                    <li class="item item-radiobox">Male
                        <label class="radiobox">
                            <input type="radio" value="on">
                        </label>
                    </li>
                    <li class="item item-radiobox">Female
                        <label class="radiobox">
                            <input type="radio" value="on">
                        </label>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="list checkbox_group">
                    <h3>Offers</h3>
                    <li class="item item-checkbox">4 hours
                        <label class="checkbox">
                            <input type="checkbox" value="on">
                        </label>
                    </li>
                    <li class="item item-checkbox">6 hours
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </li>
                    <li class="item item-checkbox">1 day
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </li>
                </ul>
            </div>
            <div class="item">
                <h3>Person per side</h3>
                <div class="row list checkbox_group pad_zeoo">
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                </div>
            </div>
            <div class="item">
                <h3>Group or Private</h3>
                <div class="row list checkbox_group">
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                    <label class="col item item-select" id="formDetails-select1">
                        <span class="input-label">Select Activity</span>
                        <select></select>
                    </label>
                </div>
            </div>
        </form>
        <button id="formDetails-button12" class="button button-calm  button-block half-block">Save &amp; Next</button>
    </ion-content>
</ion-view>