<ion-view hide-nav-bar="true">
  <ion-content class="load">
    <div class="row load-logo">
      <div class="col"></div>
      <div class="col"><img src="img/logo.png"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2>Loading</h2>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col load-margin">
        <div class='uil-ellipsis-css' style='transform:scale(0.39);'>
          <div class="ib">
            <div class="circle">
              <div></div>
            </div>
            <div class="circle">
              <div></div>
            </div>
            <div class="circle"><div></div></div><div class="circle">
              <div>
              </div>
            </div>
          </div>
        </div> <!-- END LOADER -->
      </div>
      <div class="col"></div>
    </div>
     




  </ion-content>
</ion-view>
