<ion-view title="" id="page8">
    <ion-content padding="true" class="has-header">
<div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
        <form id="boatDetails-form23" class="list">
            <h2 id="boatDetails-heading4" class="heading13">My Booking</h2>
            <img src="img/rang_point.png" class="range_point"/>
        </form>
        <ion-list class="padd_0">

        <ion-item>
		<p style="font-size: 12px;">WEB, SEP 15, 2016 ( booking ID 00157854566523)<p>
	<ul class="ul_header bg_item">
     <div class="ul_header_img">
	      <li class="book_img"><img src="img/Profile_img.jpg"></li>
	 </div>
<div class="ul_header_data">
   <li>Blue River<div class="breack_bar"></div>
		   <button id="login-button5" class="button button-dark  button-block half-block" ui-sref="menu.viewBoat" href="#/side-menu21/View-Boat">View Details</button>
		  </li>
          <li>Booking Type<br>
		   <button id="login-button5" class="button button-calm  button-block half-block" ui-sref="menu.servicesActivity" href="#/side-menu21/Services-activity">Booking</button>
		  </li>
          <li class="mrglft10">Status<br><img width="32" src="img/like.png"></li>
      
</div>       
	   </ul>
        </ion-item>
<hr/>
        <ion-item>
		<p style="font-size: 12px;">WEB, SEP 15, 2016 ( booking ID 00157854566523)<p>
<ul class="ul_header bg_item">
     <div class="ul_header_img">
	      <li class="book_img"><img src="img/Profile_img.jpg"></li>
	 </div>
<div class="ul_header_data">
   <li>Blue River<div class="breack_bar"></div>
		   <button id="login-button5" class="button button-dark  button-block half-block" ui-sref="menu.viewBoat" href="#/side-menu21/View-Boat">View Details</button>
		  </li>
          <li>Booking Type<br>
		   <button id="login-button5" class="button button-calm  button-block half-block" ui-sref="menu.servicesActivity" href="#/side-menu21/Services-activity">Booking</button>
		  </li>
          <li class="mrglft10">Status<br><img width="32" src="img/like.png"></li>
      
</div>       
	   </ul>
        </ion-item>
<hr/>
        <ion-item>
		<p style="font-size: 12px;">WEB, SEP 15, 2016 ( booking ID 00157854566523)<p>
<ul class="ul_header bg_item">
     <div class="ul_header_img">
	      <li class="book_img"><img src="img/Profile_img.jpg"></li>
	 </div>
<div class="ul_header_data">
   <li>Blue River<div class="breack_bar"></div>
		   <button id="login-button5" class="button button-dark  button-block half-block" ui-sref="menu.viewBoat" href="#/side-menu21/View-Boat">View Details</button>
		  </li>
          <li>Booking Type<br>
		   <button id="login-button5" class="button button-calm  button-block half-block" ui-sref="menu.servicesActivity" href="#/side-menu21/Services-activity">Booking</button>
		  </li>
          <li class="mrglft10">Status<br><img width="32" src="img/like.png"></li>
      
</div>       
	   </ul>
        </ion-item>
<hr/>		
      </ion-list>
    </ion-content>
</ion-view>