<ion-view view-title="Step One">
<ion-nav-title>
      <img ui-sref="app.category" src="img/head-logo.png">
    </ion-nav-title>
  <ion-content>
    <div class="section-header">
  		<h4 class="section-title">Billing Address</h4>
  		<div class="section-divider-wrap">
            <div class="section-divider"></div>
        </div>	
  	</div>
	<div class="form-wrapper">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="FUll Name">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Address">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="City">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Postal Code">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Phone Number">
		  </label>	  
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <select name="" id="" class="custom-select">
		    	<option value="">Select Country</option>
		    	<option value="">India</option>
		    	<option value="">USA</option>
		    	<option value="">UK</option>		    	
		    </select>
		  </label>	  
		</div>
	</div>
	<div class="text-center">
		<button class="button button-small button-calm button-detail" ui-sref="app.paymentTwo">Save and Next Step</button>
	</div>
  </ion-content>
</ion-view>
