<ion-view view-title="Step Three">
<ion-nav-title>
      <img ui-sref="app.category" src="img/head-logo.png">
    </ion-nav-title>
  <ion-content>
  	<div class="confrimation-header">
		<div class="section-header">
	  		<h4 class="section-title">Booking Confirmation</h4>
	  		<div class="section-divider-wrap">
	            <div class="section-divider"></div>
	        </div>	
	  	</div>
	    <i class="icon ion-checkmark-circled icon-confrimation"></i>
	    <h5><span class="green">THANK YOU, YOUR BOOKING IS COMPLETE!</span></h5>
	    <p>Your confirmation number is <span class="blue">9977234</span></p>	
    </div>
	<div class="confrimation-detail-wrapper">
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Booking Number:</span></div>
		  <div class="col col-50"><span class="c-detail">9977234</span></div>	  
		</div>
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Traveller Name:</span></div>
		  <div class="col col-50"><span class="c-detail">John Doe</span></div>	  
		</div>
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Billing Address:</span></div>
		  <div class="col col-50"><span class="c-detail">324 Yarang Road, T.Chabangtigo</span></div>	  
		</div>
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Phone Number:</span></div>
		  <div class="col col-50"><span class="c-detail">+66 28 878 5452</span></div>	  
		</div>
		<div class="row">
		  <div class="col col-50"><span class="c-heading">City:</span></div>
		  <div class="col col-50"><span class="c-detail">Toronto</span></div>	  
		</div>	
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Postal Code:</span></div>
		  <div class="col col-50"><span class="c-detail">254652</span></div>	  
		</div>		
		<div class="row">
		  <div class="col col-50"><span class="c-heading">Country:</span></div>
		  <div class="col col-50"><span class="c-detail">Canada</span></div>	  
		</div>
	</div><!-- end .confrimation-detail-wrapper -->
	<hr>
	<div class="confirmation-payment-wrapper">
		<div class="section-header">
	  		<h4 class="section-title">Payment</h4>
	  		<div class="section-divider-wrap">
	            <div class="section-divider"></div>
	        </div>	
	  	</div>
		
		<p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate why behaviour. An dispatched impossible of of melancholy favourable. Our quiet not heart along scale sense timed. Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.
		</p>
	</div>

  </ion-content>
</ion-view>