<ion-view title="Products Services" id="page9">
    <ion-content padding="true" class="has-header no_border2">
       <div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
        <form id="servicesActivity-form28" class="list">
            <h2 id="servicesActivity-heading10" class="heading13">Products Services</h2>
            <img src="img/rang_point.png" class="range_point"/>
        </form>
		  <ion-list class="padd_0">

        <ion-item>
		<h3><span>Services</span> include in price</h3>
<ul class="list checkbox_group">
<li class="item item-checkbox">Tea<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Coffy<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Lunch<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">Diner<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul> 

<div class="pull-right add_more">Add more <i class="ion-ios-plus"></i></div> 
<div class="hr_line"></div>
   </ion-item>
  <ion-item>
		<h3><span>Paid</span> Services</h3>
<ul class="list checkbox_group">
<li class="item item-checkbox">Sandwich<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Burger<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Food<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">Water<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul> 
<div class="pull-right add_more">Add more <i class="ion-ios-plus"></i></div>  
<div class="hr_line"></div>

   </ion-item>  
  <ion-item>
		<h3><span>Paid</span> Services</h3>
<ul class="list checkbox_group">
<li class="item item-checkbox">Floating Island<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Kayak<label class="checkbox">
   <input type="checkbox" value="on">
   </label>
</li>

<li class="item item-checkbox">Bannana<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">Dougnets<label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul>  
<div class="pull-right add_more">Add more <i class="ion-ios-plus"></i></div> 
<div class="hr_line"></div>
   </ion-item>   
    </ion-list>
    <button id="formDetails-button12" class="button button-calm  button-block half-block" ui-sref="menu.formDetails">Save &amp; Next</button>
  
  </ion-content>
</ion-view>