<ion-view title="Set Locations" id="page10">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
        <form id="servicesActivity-form28" class="list">
            <h2 id="servicesActivity-heading10" class="heading13">Set Location</h2>
            <img src="img/rang_point.png" class="range_point" />
        </form>
        <ion-list class="padd_0">
            <ion-item>
                <img src="img/map.jpg" style="width: 100%;">
            </ion-item>

            <div class="row list checkbox_group pad_zeoo">
                <label class="col item item-input  item-stacked-label" id="formDetails-select1">
                    <span class="input-label">Source</span>
                    <input type="number" placeholder="Placeholder">
                </label>
                <label class="col item item-input  item-stacked-label" id="formDetails-select1">
                    <span class="input-label">Destination</span>
                    <input type="number" placeholder="Placeholder">
                </label>

            </div>

            <div class="pull-right add_more">Add more <i class="ion-ios-plus"></i></div>
            <div class="hr_line"></div>

        </ion-list>
        <h4 class="full-width"><span>Photos</span></h4>
        <div class="row">

            <div class="col"><img src="img/Profile_img.jpg" style="width: 100%;"></div>
            <div class="col"><img src="img/Profile_img.jpg" style="width: 100%;"></div>
            <div class="col"><img src="img/Profile_img.jpg" style="width: 100%;"></div>
        </div>
     
        <label class="item item-input item-stacked-label" id="formDetails-input9">
            <input type="file" placeholder="Placeholder">
        </label>
		
        <img src="img/date.png" style="width:100%"/>
		   <button id="formDetails-button12" class="button button-calm  button-block half-block" ui-sref="menu.formDetails">Save</button>
    </ion-content>
</ion-view>