<ion-view title="Thank you" id="page1" hide-nav-bar="true">
    <ion-content padding="true" class=" bg1 manual-remove-top-padding has-header" scroll="true" hide-nav-bar="true">
        <div>
            <img src="img/head-logo.png" class="header_logo">
        </div>
		
			<div class="something-semantic">
   <div class="something-else-semantic">
   <div class="something-else-semantic-box">
 	   <img src="img/thankyou.png" style="width: 100%;">
    
<br/>	       
		 <h3>We will contact you soon</h3>
		   <img src="img/ship_icon.png" class="ship_icon">
   </div>
   </div>
</div>
       
    </ion-content>
</ion-view>