<ion-view title="" id="page12">
    <ion-content padding="true" class="has-header">
       <div>
         <img src="img/head-logo.png" class="header_logo">
        </div>
        <form id="boatDetails-form23" class="list">
            <h2 id="boatDetails-heading4" class="heading13">View Boat</h2>
            <img src="img/rang_point.png" class="range_point"/>
        </form>
		<br/>
        <ion-list class="padd_0">

       <ion-item>
		<ul class="ul_header bg_item">
     <div class="ul_header_img">
	      <li class="book_img"><img src="img/Profile_img.jpg"></li>
	 </div>
<div class="ul_header_data">
          <li>Blue River<div class="breack_bar2"></div>
		   <p class="a-dark">Price: $560.00</p>
		  </li>
          <li>Actions<div class="breack_bar2"></div>
		   <img src="img/view_icon.png" class="img15"/>
		    <img src="img/edit_icon.png" class="img15"/>
			 <img src="img/delete_icon.png" class="img15"/>
		  </li>
          <li class="mrglft10">Status<div class="breack_bar2"></div><img width="60" src="img/active_btn.png"/></li>
</div>       
	   </ul>

        </ion-item>
<hr/>
        <ion-item>
		<ul class="ul_header bg_item">
     <div class="ul_header_img">
	      <li class="book_img"><img src="img/Profile_img.jpg"></li>
	 </div>
<div class="ul_header_data">
          <li>Blue River<div class="breack_bar2"></div>
		   <p class="a-dark">Price: $560.00</p>
		  </li>
          <li>Actions<div class="breack_bar2"></div>
		   <img src="img/view_icon.png" class="img15"/>
		    <img src="img/edit_icon.png" class="img15"/>
			 <img src="img/delete_icon.png" class="img15"/>
		  </li>
          <li class="mrglft10">Status<div class="breack_bar2"></div><img width="60" src="img/active_btn.png"/></li>
</div>       
	   </ul>

        </ion-item>
<hr/>
		
      </ion-list>
    </ion-content>
</ion-view>