<ion-view>
	<ion-nav-title>
	  <img class="hearedLogo" src="img/logo.png">
	</ion-nav-title>
    <ion-content>
		<div class="billingAddressPage">
			<div class="pageTitle">
				<div class="pageTitleTxt">Billing Address</div>
				<div class="pageTitleLine"></div>
			</div>
			<form class="addressForm">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Full Name</span>
                    <input type="text" placeholder="Full Name" >
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City 1">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Postal Code</span>
                    <input type="text" placeholder="Postal Code">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Mobile Number</span>
                    <input type="text" placeholder="Mobile Number">
                </label>
				<br/>
				<button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" data-ng-click="booknow()">
                    Book Now
                </button>
			</form>
		</div>
		<br />
        <br />
        <br />
    </ion-content>
</ion-view>
