<ion-view>
	<ion-nav-title>
	  <img class="hearedLogo" src="img/logo.png">
	</ion-nav-title>
    <ion-content>
		<div class="bookingConfPage">
			<div class="pageTitle">
				<div class="pageTitleTxt">Booking Confrimation</div>
				<div class="pageTitleLine"></div>
			</div>
			<div class="contentTitle">
			THANK YOU, YOUR BOOKING IS COMPLETE !			
			</div>
			<div class="contentSubtitle">
				Your conformation number is <span class="confNum">9977234</span>
			</div>
			<div class="bookingInfo">
				<table>
					<tr>
						<td class="bookingInfoTitle">Booking Number : </td>
						<td class="bookingInfoTxt">9977234</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Traveller Name : </td>
						<td class="bookingInfoTxt">Abcd Efgh</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Billing Email : </td>
						<td class="bookingInfoTxt">myemail@gmail.com</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Billing Adderss : </td>
						<td class="bookingInfoTxt">324 Yarang Road, T.Chabangtigo</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Phone Number : </td>
						<td class="bookingInfoTxt">+66 28 878 5452</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">City : </td>
						<td class="bookingInfoTxt">Toronto</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Postal Code : </td>
						<td class="bookingInfoTxt">254652</td>
					</tr>
					<tr>
						<td class="bookingInfoTitle">Country : </td>
						<td class="bookingInfoTxt">Canada</td>
					</tr>
				</table>
			</div>
			<!-- 
			<div class="bookingInfo">
				<div>
					<span class="bookingInfoTitle">Booking Number : </span>
					<span class="bookingInfoTxt">9977234</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Traveller Name : </span>
					<span class="bookingInfoTxt">Abcd Efgh</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Billing Email : </span>
					<span class="bookingInfoTxt">myemail@gmail.com</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Billing Adderss : </span>
					<span class="bookingInfoTxt">324 Yarang Road, T.Chabangtigo</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Phone Number : </span>
					<span class="bookingInfoTxt">+66 28 878 5452</span>
				</div>
				<div>
					<span class="bookingInfoTitle">City : </span>
					<span class="bookingInfoTxt">Toronto</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Postal Code : </span>
					<span class="bookingInfoTxt">254652</span>
				</div>
				<div>
					<span class="bookingInfoTitle">Country : </span>
					<span class="bookingInfoTxt">Canada</span>
				</div>
			</div> -->
			
			
			<div class="pageTitle">
				<div class="pageTitleTxt">Payment</div>
				<div class="pageTitleLine"></div>
				<div class="paymentCaution">
				Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content Dummy content 
				</div>
			</div>
			
			
		</div>
		<br />
        <br />
        <br />
    </ion-content>
</ion-view>
