<ion-view>
	<ion-nav-title>
	  <img class="hearedLogo" src="img/logo.png">
	</ion-nav-title>
    <ion-content>
		<div class="logoutPage">
			<div class="pageTitle">
				<div class="pageTitleTxt">Logout</div>
				<div class="pageTitleLine"></div>
			</div>
			<form class="logoutForm">
				Are you sure to logout ?
				
				<button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="doLogout()">
					Logout
				</button>
			</form>
		</div>
		<br />
        <br />
        <br />
    </ion-content>
</ion-view>
