<ion-view>
	<ion-nav-title>
	  <img class="hearedLogo" src="img/logo.png">
	</ion-nav-title>
    <ion-content>
		<div class="myTripPage">
			<div class="pageTitle">
				<div class="pageTitleTxt">My Trip</div>
				<div class="pageTitleLine"></div>
			</div>
			<div class="myTripDummy">
			Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text 
			</div>
			<ion-list class="animate-ripple">
			<div class="myTripItemTitle">WEB, SEP 15,2016 (00157854566523)</div>
				<ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="getDetails();">
					<img src="img/material4.jpg">
					<div class="myTripDetails clearfix">
						<div class="myTripItemInfo pull-left">
							<div class="vendorName">Vendor Name </div>
							<div class="perHourRent">Rent : $126.00/Hr</div>
							<div class="perHourRent">Date : 15 Sep</div>
							<div class="perHourRent">Rent Time : 5 Hours</div>
							<div class="btnVendorDetail">Total Cost : $560.00</div>
						</div>
						<div class="myTripItemrEVIEW pull-right">
							<button class="writeReviewBtn" data-ng-click="writeReview()">
								Write a review
							</button>
						</div>
					</div>
				</ion-item>
			<div class="myTripItemTitle">WEB, SEP 15,2016 (00157854566523)</div>
				<ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="getDetails();">
					<img src="img/material4.jpg">
					<div class="myTripDetails clearfix">
						<div class="myTripItemInfo pull-left">
							<div class="vendorName">Vendor Name </div>
							<div class="perHourRent">Rent : $126.00/Hr</div>
							<div class="perHourRent">Date : 15 Sep</div>
							<div class="perHourRent">Rent Time : 5 Hours</div>
							<div class="btnVendorDetail">Total Cost : $560.00</div>
						</div>
						<div class="myTripItemrEVIEW pull-right">
							<button class="writeReviewBtn" data-ng-click="writeReview()">
								Write a review
							</button>
						</div>
					</div>
				</ion-item>
			<div class="myTripItemTitle">WEB, SEP 15,2016 (00157854566523)</div>
				<ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="getDetails();">
					<img src="img/material4.jpg">
					<div class="myTripDetails clearfix">
						<div class="myTripItemInfo pull-left">
							<div class="vendorName">Vendor Name </div>
							<div class="perHourRent">Rent : $126.00/Hr</div>
							<div class="perHourRent">Date : 15 Sep</div>
							<div class="perHourRent">Rent Time : 5 Hours</div>
							<div class="btnVendorDetail">Total Cost : $560.00</div>
						</div>
						<div class="myTripItemrEVIEW pull-right">
							<button class="writeReviewBtn" data-ng-click="writeReview()">
								Write a review
							</button>
						</div>
					</div>
				</ion-item>
			<div class="myTripItemTitle">WEB, SEP 15,2016 (00157854566523)</div>
				<ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="getDetails();">
					<img src="img/material4.jpg">
					<div class="myTripDetails clearfix">
						<div class="myTripItemInfo pull-left">
							<div class="vendorName">Vendor Name </div>
							<div class="perHourRent">Rent : $126.00/Hr</div>
							<div class="perHourRent">Date : 15 Sep</div>
							<div class="perHourRent">Rent Time : 5 Hours</div>
							<div class="btnVendorDetail">Total Cost : $560.00</div>
						</div>
						<div class="myTripItemrEVIEW pull-right">
							<button class="writeReviewBtn" data-ng-click="writeReview()">
								Write a review
							</button>
						</div>
					</div>
				</ion-item>
			</ion-list>
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
