<ion-view>
	<ion-nav-title>
	  <img class="hearedLogo" src="img/logo.png">
	</ion-nav-title>
    <ion-content>
		<div class="personalInfoPage">
			<div class="pageTitle">
				<div class="pageTitleTxt">Personal Info</div>
				<div class="pageTitleLine"></div>
			</div>
			<form class="addressForm">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" >
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Mobile Number</span>
                    <input type="text" placeholder="Mobile Number">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email Id</span>
                    <input type="text" placeholder="City 1">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email Id</span>
                    <input type="text" placeholder="Postal Code">
                </label>
				<br/>
				<button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Submit
                </button>
			</form>
		</div>
		<br />
        <br />
        <br />
    </ion-content>
</ion-view>
